* {
  box-sizing: border-box;
}


.background { 
  background-image: url("../images/1p_quotes.png");
  background-repeat: no-repeat;
  background-position: 1263px 68px;
  background-size: 174px;
  position: relative;
}

body {
  max-width: 1588px;
  margin: 0 auto;
}

/* border-radius: 50 -100%; */




/* HEADER */
header {
  display: flex;
  justify-content: space-around;
  height: 100px;
  padding-bottom: 30px;
  align-items: center;
}

.logo_position {
  margin-right: 150px;
}

.header_sasco_credo,
.header_content {
font-family: 'Neo Sans Pro';
font-weight: normal;
font-style: normal;
}

.header_sasco_credo {
  font-size: 16px;
  line-height: 16px;
  color: #4faba8;
  margin-left: 10px;
}

.header_content {
font-size: 12px;
color: #55575b;
padding-right: 4px;
}

.header_text_saudi {
  font-family: 'Neo Sans Pro';
  font-weight: 300;
  font-style: normal;
  color: #55575b;
  font-size: 12px;
  width: auto;
}

.header_text_profile {
  font-family: 'Neo Sans Pro';
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  color: #55575b;
  margin-right: 250px;
}

button {
  border: none;
  background: none;
  position: relative;

}

nav {
  position: absolute;
  top: 32px;
  right: -1px;
  visibility: hidden;
  background-color: #55575b;
  z-index: 9;
  width: 288px;
  text-align: left;
  padding: 20px;
  
}

.menu_button {
  border: 1px solid transparent;
  padding: 8px;
}

.menu_button:HOVER nav {
  visibility: visible;
}

.menu_button:HOVER {
  border: 1px solid #55575b;
  
}
        

.navigation_links {
  margin: 0;
  padding: 0;
  list-style: none;

}


.navigation_links a {
  text-decoration: none;
  color: #fff;
  padding: 4px 20px;
  display: block;
  font-family: 'Neo Sans Pro';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;

}
.navigation_links a:HOVER {
  color: #8efefe;
}

/* General style */


a {
  text-decoration: none;
}

b {
  font-family: 'Neo Sans Pro';
  font-weight: 500;
  font-style: normal;
}

p {
  font-family: 'Neo Sans Pro';
  font-weight: 300;
  font-style: normal;
  width: 216px;
  font-size: 14px;
}

h3,
h4 {
  font-family: 'Neo Sans Pro';
  font-weight: 300;
  font-style: italic;
  width: 218px;
  hyphens: auto;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}


.photo_config {
  display: block;
  margin-right: 20px;
  max-width: 100%;
}

.section_margin {
  margin: 20px 10px auto 16px;
  justify-content: center;
}


.margin_centre {
  margin: 0 auto;
}

.wrap_images_center {
  justify-content: center;
  gap: 50px;
}



.wrap_positon {
  margin-top: 40px;
}


.last_column_padding {
  padding-left: 30px;
}



.responsive_img {
  display: block;
  max-width: 100%;
}

.margin_tables {
  margin-left: 26px;
  margin-right: 12px;

}


/* Article config */


.main_title {
  background-color: #4DA6A5;
  height: 110px;
  display: flex;
  align-items: center;
  gap: 1em;
  border-radius: 82px 0 0 82px;
  margin-left: 24px;
  padding-left: 32px;
  margin-bottom: 70px;
}

.main_title_b {
  font-size: 50px;
  /* line-height: 60px; */
  color: white;
}

.main_title_l {
  font-family: 'Neo Sans Pro';
  font-weight: 300;
  font-style: normal;
  font-size: 50px;
  /* line-height: 58px; */
  color: white;
}


.main_title_size {
  font-size: 24px;
}

.wrap {
  display: flex;
  /* flex-wrap: wrap; */ 
  position: relative;
}


.columns {
  column-count: 3;
  column-width: 200px;
  column-gap: 20px;
}

.article {
  width: 218px;
  hyphens: auto;
}


.block_between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}




/* Home page */
.first_image{
  border-top-right-radius: 500%;
  border-bottom-right-radius: 500%;
  position: relative;
}

.position_overlap {
  position: relative;
  /* top: 90px;
  right: 79px; */
}

.title {
  width: 500px;
  /* margin-left: auto; */
  /* margin-right: 42px; */
  font-family: 'Neo Sans Pro';
  font-weight: 300;
  font-style: italic;
  font-size: 32px;
  line-height: 37px;
  box-sizing: border-box;
      position: absolute;
        right: 0;
        top: 100px;
}

.introduction {
font-family: 'Neo Sans Pro';
font-weight: 500;
font-style: italic;
/* font-style: normal; */
font-size: 18px;
color: #4DA6A5;
width: 180px;
margin-left: 48px;
margin-right: 0px;
box-sizing: border-box;
padding-top: 282px;
/* margin-top: 840px; */
}


/* 2 page - History */

.history_title {
  visibility: hidden;
}




/* Page 3 - Chairman’s Foreword */


.h3_position_three {
  margin-top: 0px;
  margin-bottom: 90px;
}

.subtitle_tree {
  color: #f7d74a;
  width: 218px;
  hyphens: auto;
}


.chair_bold_sentence {
  color: #4DA6A5;
}



/* Page 4 - Managing Director’s Message */

.subtitle_four {
  color: #8cb93b;
  width: 218px;
  hyphens: auto;
}



/* Page 5 - CEO’s Statement */

.subtitle_five {
  color: #ce3d2f;
}






/* Page 6 - SASCO Strategic Plan */


.title_six {
  font-size: 21px;
  width: 190px;
}


.text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 30px;
}
        




/* Page 7 - CFO: The Year in Review */

.subtitle_seven {
  color: #8cb93b;
}

.mohammed_img {
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
}




/* Page 10 - CFO: The Year in Review (continued) */
.padd_top_tenth {
  padding-top: 40px;
}




/* Page 11 - CFO: The Year in Review (continued) */
.last_image_config {
  margin:38px 0px auto 46px;

}

.last_title_config {
  margin-bottom: 0px;
}



/* Footer */
footer {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Neo Sans Pro';
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  color: #55575b;
  align-items: center;
  margin: 30px auto;
}